* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

//  {
//     text-transform: uppercase;
// }

li,
button,
img
{
    list-style: none;
    cursor: pointer;
    border: none;
}

